.header__lang-link {
width: 30px;
height: 28px;
right: 95px;
top: 46px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-align: right;
color: #FFFFFF;
text-decoration-line: underline
}


/* 
@media screen and (max-width: 984px) {
    .header__lang-linkk  {
        right: 71px;
    }
}

@media screen and (max-width: 568px) {
    .header__lang-linkk  {
        right: 56px;
        top: 30px;
    }
} */