.places__title {
    margin: 0;
    grid-area: title;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;    
}

@media all and (max-width:1010px) {
    .places__title {
        font-size: 42px;
        line-height: 46px;
        padding-right: 10px;
    }
}

@media all and (max-width: 755px) {
    .places__title {
        font-size: 32px;
        line-height: 1.09;
        margin-right: 16px;
        margin-left: 16px;
    }
}