.lead {
    grid-area: lead;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 100%;
    justify-self: center;
    padding: 0;
    margin: 0;
}

@media screen and (max-width:1100px) {
    .lead {
        max-width: 928px;
    }
}

@media screen and (max-width: 755px) {
    .lead {
        object-fit: contain;
        padding-left: 0;
        padding-right: 0;
    }
}