.content {
    display: grid;
    grid-row-gap: 92px;
    grid-template-areas: "lead"
        "intro"
        "photo-grid"
        "places"
        "cover"
        "footer";
    box-sizing: border-box;
}

@media all and (max-width: 1010px) {
    .content {
        grid-row-gap: 88px;
    }
}

@media all and (max-width: 755px) {

    .content {
        grid-row-gap: 64px;
    }
}