.footer__link {
    text-decoration: none;
    color: #fff;
    margin-right: 18px;
    list-style-type: none;
    font-size: 16px;
    line-height: 1.12;
}

@media all and (max-width: 755px) {
    .footer__link {
        font-size: 24px;
        line-height: 1;
        margin-right: 0;
    }
}