.lead__image {
    width: 984px;
    height: 615px;
    margin: 0 148px 8px 148px;
}

@media screen and (max-width: 1140px) {
    .lead__image {
        width: 928px;
        height: 588px;
        margin: 0 48px 8px 48px;
}
}

@media screen and (max-width: 984px) {
    .lead__image {
        width: 768px;
        height: 480px;
        margin: 0 0 8px 0;
    }
}

@media screen and (max-width: 568px) {
    .lead__image {
        width: 320px;
        height: 200px;
        margin: 0 0 8px 0;
     
    }
}