.lead__image {
    width: 100%;
    margin: 56px 0 8px 0;
    align-self: center;
    object-fit: cover;
}

@media (max-width:1280px) {
    .lead__image {
        margin-top: 64px;
        max-width: 984px;
        max-height: 615px;
    }
}

@media screen and (max-width:1100px) {
    .lead__image {
        margin-top: 56px;
        max-width: 928px;
        max-height: 580px;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        margin-top: 40px;
        max-width: 768px;
    }
}