.intro {
    grid-area: intro;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-self: flex-start;
    max-width: 100%;
}

@media screen and (max-width: 999px) {
    .intro {
        max-width: 720px;
    }
}