.intro {
    grid-area: intro;
    display: flex;
    flex-direction: column;
    margin: 0 100px;
    align-self: flex-start;
    max-width: 100%;
}

@media screen and (max-width: 999px) {
    .intro {
        max-width: 720px;
        margin: 0 48px;
    }
}