.root {
    background-color: #2A2C2F;
    color: #FFFFFF;
    font-weight: 400;
    margin: 0 auto;
    font-family: "Inter", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 28px 0 24px;
    text-rendering: optimizeLegibility;
    min-width: 320px;
    width: 100%;
    max-width: 100%;
}

@media (max-width: 755px) {
    .root {
        padding-top: 16px;
    }
}