.content__section {
    max-width: 100%;
    padding: 0 48px;
}

@media all and (max-width: 1010px) {
    .content__section {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media all and (max-width:755px) {
    .content__section {
        padding-right: 16px;
        padding-left: 16px;
    }
}